* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.search-container {
    display: flex;
    justify-content: center;
    padding: 2em
}

.info-container {
    display: flex;
    justify-content: space-between;
    
}

.img-container {
    display: flex;
    justify-content: center;
}

#title {
    max-width: 5em;
}

/* #runtime {
    padding-right: 35px;
} */

#title, #year, #runtime {
    text-shadow: 1px 1px #000000c5;
    font-size: 24px;
    padding-bottom: 3em;
}

#searchbar, #searchbar:active {
    border-radius: 6%;
    border: none;
    padding: 0.5em;
    font-size: 18px;
}



#btn-submit {
    border-radius: 5%;
}

img {
    max-width: 500px;
}

body {
    background-image: url('/img/popcorn-1085072_1920.jpg');
    background-size:cover;
}

@media  screen and (min-width:800px) {
    .info-container {
            display: flex;
            justify-content: center;    
        }

        #title,
        #year,
        #runtime {
            text-shadow: 10px;
            font-size: 32px;
            padding-bottom: 2em;
            padding-right: 3em;
            padding-left: 3em;
        }
}